.item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item li {
  font-size: 16px;
  color: #333;
}

.item li span {
  font-weight: bold;
}

/* Styles for positive prices */
.item.positive {
  background-color: lightgreen; /* Change background color for positive prices */
  color: green; /* Change text color for positive prices */
}

/* Styles for negative prices */
.item.negative {
  background-color: lightcoral; /* Change background color for negative prices */
  color: red; /* Change text color for negative prices */
}